@model  Tag

<form method="post">
<p class="btn btn-info w-100">Remove this @Model.TagName?</p>
    <input type="submit" class="btn btn-danger w-100" value="@Model.TagName" /> <a href="#" class="text text-danger">Delete</a>
<a href="/Admin/Tag" class="btn btn-facebook w-100 m-2">Return Tag?</a>
</form>