@model Tag


<a href="/Admin/Tag" class="btn btn-facebook w-auto m-2">Come Back</a>
<h1 class="btn btn-facebook m-2">@Model.TagName</h1>
<p class="btn btn-facebook m-2">@Model.CreatedDate.ToString("dddd, dd MMMM yyyy")</p>