@using WebblogWebDB2.ViewModelsVM;
@model UserRoleVM

<form method="post">
    <input type="hidden" value="@Model.User.Id" />
    <a href="/Admin/user" class="btn btn-outline-primary w-25 m-2">Back</a>
    <select class="form-select form-select-lg mb-3 form-control" name="role" aria-label=".form-select-lg example">
        @foreach (var role in Model.Roles)
        {
            <option value="@role">@role</option>
        }
    </select>
    <input type="submit" class="btn btn-info m-0" value="Add Role" />
</form>